@import "./_mixins.scss";

$scroll-transition-time: 300ms;

@mixin transition-base {
  opacity: 1;
  max-height: 500px;
  transition-property: max-height, opacity;
  transition-duration: $scroll-transition-time;
}

@mixin transition-to {
  opacity: 0;
  max-height: 0;
  transition-property: opacity, max-height;
  transition-duration: $scroll-transition-time;
}

.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;

  a {
    color: $color-sidebar-foreground;
    display: inline-block;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.flex-spacer {
  flex: 1;
}

.sidebar {
  background: $color-sidebar-background;
  color: $color-sidebar-foreground;
  position: sticky;
  top: 0;

  transition: $scroll-transition-time;

  .header {
    padding: 2em;
    margin: auto;
    max-width: $body-max-width;

    .brand-title,
    .brand-tagline {
      margin: 0;

      a {
        color: inherit;
      }
    }

    .header-top {
      display: flex;
    }

    .to-top {
      @include transition-to();
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .nav-list {
      padding: 0;
      margin: 0;
      @include transition-base();
    }

    .brand-tagline {
      font-weight: 300;
      color: $color-accent;
      @include transition-base();
    }
  }

  &.scrolled {
    transition: $scroll-transition-time;

    .header {
      padding-top: 1em;
      padding-bottom: 1em;
      
      .brand-title {
        font-size: 1em;
      }

      .to-top {
        @include transition-base();
      }
    }

    .nav-list {
      @include transition-to();
    }

    .brand-tagline {
      @include transition-to();
    }
  }
}
